network:
  version: 2
  ethernets:
    {{WAN_INTERFACE}}:
      dhcp4: false
      dhcp6: false
    {{LAN_INTERFACE}}:
      dhcp4: false
      dhcp6: false
  bonds:
    bond0:
      interfaces: [{{WAN_INTERFACE}}, {{LAN_INTERFACE}}]
      parameters:
        mode: active-backup
        primary: {{WAN_INTERFACE}}
        mii-monitor-interval: 100
        fail-over-mac-policy: active
      dhcp4: true
      dhcp6: false
