# DangerPrep specific monitoring rules
/etc/dangerprep p+i+n+u+g+s+b+m+c+md5+sha1+rmd160
/usr/local/bin/dangerprep* p+i+n+u+g+s+b+m+c+md5+sha1+rmd160
/etc/ssh/sshd_config p+i+n+u+g+s+b+m+c+md5+sha1+rmd160
/etc/hostapd p+i+n+u+g+s+b+m+c+md5+sha1+rmd160
/etc/dnsmasq.conf p+i+n+u+g+s+b+m+c+md5+sha1+rmd160
/etc/cloudflared p+i+n+u+g+s+b+m+c+md5+sha1+rmd160
