.·:'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''':·.
: :                                                                        : :
: :                                                                        : :
: :     ______                                _______                      : :
: :    |   _  \ .---.-.-----.-----.-----.----|   _   .----.-----.-----.    : :
: :    |.  |   \|  _  |     |  _  |  -__|   _|.  1   |   _|  -__|  _  |    : :
: :    |.  |    |___._|__|__|___  |_____|__| |.  ____|__| |_____|   __|    : :
: :    |:  1    /           |_____|          |:  |              |__|       : :
: :    |::.. . /                             |::.|                         : :
: :    `------'                              `---'                         : :
: :                                                                        : :
: :                        Emergency Router System                         : :
: :                                                                        : :
'·:........................................................................:·'

WARNING: This system is for authorized users only.
All activities are monitored and logged.
Unauthorized access is prohibited and will be prosecuted.

Emergency Contact: admin@dangerprep.local
System Status: https://portal.danger

